*{margin:0;padding:0;font-size:14px;line-height:150%;font-family:"microsoft yahei",SimHei;}
body,html{height:100%;text-align:center;overflow:hidden;background-color:#d0d0d0;}
.html{height:100%;width:100%;position:relative;overflow-y:auto;overflow-x:hidden;}

a{color:blue;text-decoration:none;}
a:hover {text-decoration:none;color:green;}
b {text-align:left;color:blue;}
strong {text-align:left;color:red;}
.r {text-align:right;width:30%;}
.l {text-align:left;color:green;}
.none{display:none;}
.divx{margin:0px auto;text-align:left;max-width:586px;}
.simg{width:50%;min-width:88px;max-width:188px;}
#divs{margin:0 auto;min-height:98%;position:relative;box-sizing:border-box;}
.divs{width:100%;max-width:1200px;min-width:300px;background-color:#F0F0F0;}

.head{position:fixed;top:0px;margin:0 auto;width:100%;max-width:1200px;min-width:300px;z-index:10;display:block;}
#head{line-height:180%;background-color:#0180CF;font-size:16px;line-height:40px;color:white;}
.back{position:absolute;right:9px;top:0px;line-height:40px;}
.d {border:1px white solid;line-height:150%;color:white;font-size:12px;padding:3px 5px;}
.d:hover {text-decoration:none;background-color:white;color:#0180CF; }

#main{margin:2px auto;padding:30px 1px;width:100%;}

form{margin:24px 0;text-align:left;width:99.7%;}
.so_box{margin:10px auto;height:40px;line-height:40px;width:95.5%;background-color:white;border:1px #CACACA solid;margin-top:12px;position:relative;}
.so_box .txts{margin:0 auto;height:31px;line-height:31px;width:99%;padding-left:10px;border:0px;color:#333333;background-color:#FFFFFF;outline: none;overflow:hidden;}
.so_box .buts{margin:0 auto;height:40px;line-height:40px;width:99%;padding-left:10px;border:0px;color:#333333;background-color:#0180CF;}
.so_box .more{position:absolute; top:0px; right:0px;}
.so_box .more img{ height:24px;}
.so_box .time{position:absolute; top:0px; right:48px;}
.so_box .time{border:0px;height:40px;line-height:38px;}

/*结果*/
table{margin:20px auto;border-left:1px solid #a2c6d3;border-top:3px solid #0180CF;font-size:12px;width:99.7%;}
table td{border-right:1px solid #a2c6d3;border-bottom:1px solid #a2c6d3;padding:2px;word-wrap:break-word;word-break:break-all;}
td{min-width:50px;max-width:490px;}
.tt{background:#e5f2fa;line-height:18px;FONT-SIZE:12px;}

@media screen and (max-width: 666px) { 
table{border:0;border-top:0px solid #0180CF;} 
table thead {display:none;}
table tr{margin-bottom:18px;display:block;border-top:2px solid #0180CF;}
table tr{border-bottom:1px solid #0180CF;} 
table td {display:block;text-align:right;max-width:668px;} 
table td {border-left:1px dotted #0180CF;border-bottom: 1px dotted #ccc;} 
table td:last-child {border-bottom:0;}
table td:before {content:attr(data-label);float:left;text-transform:uppercase;}
table td:before {font-weight: bold;color:blue;}
}

.so_but{margin:0px auto;text-align:center;border:0px;}
.so_bus{margin:0 auto;width:95.5%;border:0px;outline: none;overflow:hidden;}
.so_but .buts{line-height:200%;padding:5px 8px;background:#0180CF;color:white;border:0px;}

#boto{margin:0 auto;width:100%;max-width:1200px;min-width:300px;position:fixed;bottom:0px;display:block;}
.boto{background-color:#ADADAD;color:#000;text-shadow: 0 1px 1px #fff;line-height:180%;}